%footer
	%p
		&copy; 2016 Inventors. Developed by
		%a.hsy{:href => "http://github.com/hassanyf"} Hassan M. Yousuf 
	%ul.footer-bottom
		%li
			%a{:href => "mailto:hello@inventors.pk"} hello@inventors.pk
		%li
			%a{:href => "terms/"} Terms & License
		%li
			%a{:href => "faq/"} FAQ
		%li
			%a{:href => "getting-started/"} Getting started
	%ul.footer-bottom
		%li
			%a.img-replace.github{:href => ""} Github
		%li
			%a.img-replace.twitter{:href => ""} Twitter
		%li
			%a.img-replace.facebook{:href => ""} Facebook
		%li
			%a.img-replace.google{:href => ""} Instagram